/* Home.css */

/* Home.css */
.home-container {
  position: relative;/* Creates the position for the context*/
  background-image: url('/src/assets/images/3.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Styling for the text */
.text {
  position: absolute;/* Containes the text absolutely in the container */
  text-align: left; 
  color: #3A7EBC; 
  font-size: 68px;
  font-weight: bold;
  margin-right: 0%;
  top: 30%;
  left: 20%; 
  transform: translate(-50%, -50%);
}

/* Styling for the Button */
.text-button {
  position: absolute;
  background-color: #3a7dbc9a;
  width: 318px;
  height: 78px;
  border-radius: 50px;
  border: 1px solid #3a7dbc;
  top: 40%;
  left: 6%;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
}

  